.menu {
	&.uk-modal {
		top: 60px;
		padding: 0;
		background: $white;
		box-shadow: inset 2px 2px 5px $black-opacity-1;
		z-index: 300;
		transition: opacity .05s linear;

		&.uk-modal-container .uk-modal-dialog {
			height: 100%;
			border-radius: 0;
			/* overflow-y: scroll; */
			overflow-y: auto;
			-webkit-overflow-scrolling: touch;
		}
	}

	&__wrap {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: auto;
	}

	&__footer {
		border-top: 1px solid $gray-10-opacity-5;
		border-bottom: 1px solid $gray-10-opacity-5;
	}

	&__header {
		border-bottom: 1px solid $black-opacity-1;
		box-shadow: inset 0 2px 2px 0 $black-opacity-1;

		button {
			padding: 10px 15px 9px;
			font: 500 16px/22px FuturaPT;
			color: $main-color;

			&:first-of-type {
				border-right: 1px solid $black-opacity-1;
			}

			&:last-of-type {
				color: $second-color;
			}
		}
	}

	&__tabs {
		border-bottom: 1px solid $gray-10-opacity-5;
		background-color: $gray-light-4;

		a {
			position: relative;
			display: block;
			padding: 20px 15px 16px;
			text-align: center;
			font: 500 16px/16px FuturaPT;
			color: $second-black-color;

			&::after {
				content: "";
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				margin: auto;
				width: 30%;
				height: 6px;
				border-radius: 100px 100px 0px 0px;
				background: transparent;
				transition: width .3s;
			}
		}

		.uk-active {
			a {
				color: $main-color;

				&::after {
					width: 100%;
					background-color: $main-color;
				}
			}
		}
	}

	&__list {
		padding: 20px 5px;

		a {
			display: block;
			padding: 10px 15px;
			font: 500 18px/24px FuturaPT;
			color: $second-black-color;
		}
	}

	&__select-city {
		position: relative;
		padding: 13px 15px 35px;

		&::after {
			content: "";
			display: block;
			position: absolute;
			right: 25px;
			top: 0;
			bottom: 0;
			margin: auto;
			border-bottom: 2px solid $main-dark-color;
			border-right: 2px solid $main-dark-color;
			height: 8px;
			width: 8px;
			transform: rotate(45deg);
		}

		span {
			font: normal 14px/22px Roboto;
			color: $second-black-color-opacity-5;

			&:last-of-type {
				a {
					color: $main-color;
				}
			}
		}
	}

	&__socials {
		li {
			height: auto;
			border-left: 1px solid $black-opacity-1;
		}

		a {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
			height: 100%;
		}
	}

	&__categories {
		position: relative;
		display: flex;
		flex-direction: column;

		&-image {
			width: 70px;
			margin-right: 20px;

			img {
				display: block;
				margin: auto;
			}
		}

		&-sublist {
			position: absolute;
			z-index: 1;
			width: 100%;
			height: 0;
			top: 0;
			left: 0;
			background-color: $gray-light-4;
			transform: translatex(100%);
			transition: transform .3s;
			overflow: hidden;
		}

		&-list {
			position: relative;

			&:not(:last-of-type) {
				border-bottom: 1px solid $gray-10-opacity-5;
			}

			&.active {
				.menu__categories-sublist {
					position: fixed;
					top: 94px;
					transform: translatex(0);
					overflow-y: auto;
					-webkit-overflow-scrolling: touch;
					height: 89%;
				}
			}

			&::after {
				content: "";
				position: absolute;
				right: 15px;
				top: 0;
				bottom: 0;
				margin: auto;
				width: 10px;
				height: 10px;
				color: #ff548c;
				border-top: 2px solid;
				border-left: 2px solid;
				border-radius: 1px 0 0 0;
				transform: rotate(135deg) translate(50%, 50%);
			}
		}

		&-item {
			&-container {
				display: flex;
				align-items: center;
				padding: 20px 30px;

				&>span {
					font: 500 18px/24px FuturaPT;
					color: $main-black-color;
				}
			}
		}

		&-title {
			position: relative;
			padding: 14px 15px;
			border-bottom: 1px solid $gray-light-4;
			border-top: 1px solid $gray-light-4;

			&>span {
				display: block;
				text-align: center;
				font: 500 18px/24px FuturaPT;
				color: $main-black-color;
			}
		}

		&-back {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 30px;
			margin: auto;

			span {
				font: 500 16px/22px FuturaPT;
				color: $main-color;
				border-bottom: 1px solid;
			}

			&::before {
				content: "";
				position: absolute;
				left: -17px;
				top: 0;
				bottom: 0;
				margin: auto;
				width: 7px;
				height: 7px;
				color: $main-color;
				border-top: 2px solid;
				border-left: 2px solid;
				border-radius: 1px 0 0 0;
				transform: rotate(-45deg) translate(50%, 50%);
			}
		}

		&-accordion {
			.uk-accordion-title {
				position: relative;
				padding: 15px;
				font: 500 16px/24px FuturaPT;
				color: $second-black-color;
				background-color: $white;
				border-bottom: 1px solid $gray-light-4;

				&::before {
					display: none;
				}

				&::after {
					content: "";
					position: absolute;
					right: 25px;
					top: 0;
					bottom: 0;
					margin: auto;
					width: 10px;
					height: 10px;
					color: $main-color;
					border-top: 2px solid;
					border-left: 2px solid;
					border-radius: 1px 0 0 0;
					transform: rotate(-135deg) translate(50%, 50%);
				}
			}

			li.uk-open {
				.uk-accordion-title {
					color: $main-color;
				}
			}

			.uk-accordion-content {
				margin: 0;
				background-color: $gray-light-4;
				border-bottom: 1px solid $gray-light-4;

				li {
					a {
						display: block;
						padding: 20px 15px;
						font: normal 16px/20px FuturaPT;
						color: $black;
					}
				}
			}
		}
	}
}
